
<div class="header-left">
  <div class="header-name">
    <div class="icon">
      在庫管理
    </div>
  </div>
</div>

<div class="header-right">
  <ul class="header-menu">
    <li class="menu-list">
      <a href="#">在庫一覧</a>
    </li>
    <li class="menu-list">
      <a href="#">データを見る</a>
    </li>
    <li class="menu-list">
      <%= link_to "商品を追加", new_stock_path(current_user) %>    
    </li>
     <li class="menu-list">
      <%= link_to current_user.name, edit_user_path(current_user) %>      
    </li>
    <li class="menu-list">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>         
    </li>
  </ul>
</div>