<div class="wrapper">
  <div class= "header-bar">
    <%= render "header_bar" %>
  </div>
  <div class="main-bar">
    <%= render "main" %>
  </div>
  <div class="footer-bar">
    <%= render "footer_bar" %>
  </div>
</div>