  <div class= "header-bar">
    <%= render "stocks/header_bar" %>
  </div>
  <div class="contents row">
    <div class="container">
      <h3>売った数</h3>
      <%= form_with model: @purchases, url:stock_purchases_path, local: true do |form| %>
        <%= form.number_field :quantity, min: 1, max: @stock.stock, class: "sell-form" %>
        <%= form.submit "売却" %>
      <% end %>
    </div>
  </div>