
<div class="header-left">
  <div class="header-name">
    <div class="icon">
      お店の在庫
    </div>
  </div>
</div>

<div class="header-right">
  <ul class="header-menu">
    <li class="menu-list">
      <a href="#">在庫</a>
    </li>
    <li class="menu-list">
      <a href="#">データ</a>
    </li>
    <li class="menu-list">
      <a href="#">追加</a>
    </li>
     <li class="menu-list">
      <%= link_to current_user.name, edit_user_path(current_user) %>      
    </li>
    <li class="menu-list">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>         
    </li>
  </ul>
</div>