
<div class="header-left">
  <div class="header-name">
    <div class="icon">
      お店の在庫
    </div>
    <div class="user-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  </div>
</div>
<div class="header-right">
  <ul class="header-menu">
    <li class="menu-list">
      <a href="#">在庫</a>
    </li>
    <li class="menu-list">
      <a href="#">データ</a>
    </li>
    <li class="menu-list">
      <a href="#">追加</a>
    </li>
     <li class="menu-list">
      <a href="#">ユーザー</a>
    </li>
         <li class="menu-list">
      <a href="#">ログアウト</a>
    </li>
  </ul>
</div>