// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-form {
  padding: 5px;
  width: 150px;
  margin: 20px;
}