// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper {
  width: 100%;
  height: 100%;
}

// headerのCSS

.header-bar {
  width: 100vw;
  height: 100px;
  display: flex;
}

.header-left {
  height: 100%;
  width: 15%;
  margin: 10px 5px 0 10px;
  border: 3px outset lightgrey;
}

.header-name {
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  height: 100%;
 display: flex;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 40px;
  font-size: 25px;
}

.header-right {
  width: 90%;
  height: 100%;
  margin: 10px 10px 0 0;
  border: 3px outset lightgrey;
}

.header-menu {
  width: 100%;
  height: 100px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  
}

.btn {
  color: black;
  text-decoration: none;
}

.btn:hover {
  color: #999;
  text-decoration: underline;
}

// mainのCSS

.main-bar {
  width: 100vw;
  height: calc(100vh - 100px);
}

.stock-search {
  margin-bottom: 20px;
}

.search-input {
  padding: 5px;
  margin-right: 20px;
  height: 40px;
  width: 200px;
}

.search-btn {
  height: 40px;
}

.stock-content {
  padding: 50px;

}

.stock-name {
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

table, th, td{
  border-bottom: 1px solid black;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

tr:hover {
  background-color: rgb(207, 206, 206);
}

table {
  table-layout: fixed;
}

td {
 text-align: center; 
 font-size: 15px;
 padding: 10px;
}

th {
  font-size: 20px;
  padding: 5px;
  background-color: rgb(219, 218, 218);
}

.select {
  border-bottom:1px solid black;

}

.select-btn {
  color: black;
  margin-left: 5px;
  border-bottom:1px solid black;
  font-weight: bold;
}



.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

.menu-list {
  font-size: 25px;
  padding: 10px;
}

// 商品追加ページ

.container h1 {
  font-size: x-large;
  text-align: center;
}

.form {
  margin-top: 50px;
}

.error-alert {
}

.error-message {
  list-style: none;
  margin-bottom: 5px;
}


.item-detail {
  margin: 50px;
}

.form-name {
  margin: 20px 0 10px 0;
}

.container {
  margin: 50px 100px;
  text-align: center;
}

.form-name {
  font-weight: bold;
}


.dispensable {
  color: red;
  background-color: whitesmoke;
  padding: 5px;
}