// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

// headerのCSS

.header-bar {
  background-color: gray;
  width: 100vw;
  height: 100px;
  display: flex;
}

.header-left {
  background-color: lightgray;
  padding: 20px;
  height: 100%;
  width: 10%;
}

.header-name h1 {
 margin: 0 auto;
}

.header-right {
  background-color: gainsboro;
  width: 90%;
  height: 100%;
}

// mainのCSS

.main-bar {
  background-color: whitesmoke;
  width: 100vw;
  height: calc(100vh - 200px);
}

.stock-content {
  padding: 50px;
}

.stock-name {
  margin-bottom: 50px;
  font-size: 30px;
}

table, th, td{
  border: 1px solid black;
  width: 90%;
  table-layout: fixed;
}

td {
 text-align: center; 
 
}

th {
  font-size: 20px;
  padding: 5px;
}

// footerのCSS

.footer-bar {
  background-color: gray;
  width: 100vw;
  height: 100px;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

.menu-list {
  font-size: 25px;
  padding: 10px;
  
}

table {

}

// 商品追加ページ

.container h1 {
  font-size: x-large;
  text-align: center;
}

.item-detail {
  margin: 50px;
}

.form-name {
  margin: 20px 0 10px 0;
}

.container {
  margin: 50px 100px;
  text-align: center;
}

.form-name {
  font-weight: bold;
}


.dispensable {
  color: red;
  background-color: whitesmoke;
  padding: 5px;
}